@import "tailwindcss";
@import "../stylesheets/actiontext.css";

:root {
  color-scheme: light;
}

.trix-content ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.trix-content ol {
  list-style-type: decimal;
  padding-left: 1.5rem;
}

.trix-content a {
  color: #4338ca;
  text-decoration: underline;
}
